{% extends 'base.html' %}

{% block title %}
Help Page
{% endblock %}

{% block content %}

<!-- Contains information about how to use the system -->
<div class="container my-5 p-4 rounded" style="background-color: #DEF2F1; border: 2px solid #2B7A78;">
    <h2 class="text-center">System Overview</h2>
    <!-- Introduction to the system purpose -->
    <p id="main-text">
        Challenged by restricted resources, councils have had limited success in improving road networks. This warrants the
        creation of a system to allow users to model junctions and simulate their traffic flow to determine their effectiveness.
        Allowing multiple solutions to be evaluated, users are able to find optimal junction configurations cost-effectively.
        For the user to identify the most effective junction configuration, they control several parameters like the number of
        lanes, vehicles per hour, and more to design their junction. Based on these parameters, the system will simulate the
        junction’s handling of traffic to determine the maximum and average waiting times of the vehicles alongside the maximum
        queue length from each direction of the junction. The model will combine these stated metrics into an overall rating of
        the junction’s effectiveness, allowing the user to effortlessly compare different junction parameters and identify optimal
        solutions. The interface will be a website where the user can simulate different junction configurations. Users can create model
        spaces (folders) to separate their junctions by location and how traffic flow may vary, as the user may create junctions
        for different areas.
    </p>
</div>

<div class="container text-center my-5">
    <div class="btn-group" role="group">
        <!-- Buttons to choose and learn different points of how the system works -->
        <button class="btn btn-primary mx-2 rounded-pill" onclick="changeText('overview')">Overview</button>
        <button class="btn btn-primary mx-2 rounded-pill" onclick="changeText('interface')">Interface</button>
        <button class="btn btn-primary mx-2 rounded-pill" onclick="changeText('modelData')">Model Data</button>
        <button class="btn btn-primary mx-2 rounded-pill" onclick="changeText('junctionData')">Junction Data</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- JS code to change the text when a button is clicked -->
<script src="/static/javascript/helpSection.js"></script>
{% endblock %}
