{% extends 'base.html' %}

<!-- Title -->
{% block title %}
Your Models
{% endblock %}

{% block content %}
<!-- Container to hold my add button and models grid -->
<div class="container mt-5">
    <!-- Add -->
    <div class="d-flex justify-content-left mb-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModelModal">
            Add Model
        </button>
    </div>

    <!-- Models Grid -->
    <div id="modelsFolder" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <!-- Model cards appears here -->
    </div>
</div>

<!-- Modal for adding model -->
<div class="modal fade" id="addModelModal" tabindex="-1" aria-labelledby="addModelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addModelForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModelModalLabel">
                        Add New Model 
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <!-- Get information -->
                <div class="modal-body">
                    <!-- Get name -->
                    <div class="step" id="step1">
                        <div class="mb-3">
                            <label for="modelName" class="form-label">Model Name</label>
                            <input type="text" class="form-control" id="modelName" name="name" required>
                        </div>
                    </div>

                    <!-- Simulation length -->
                    <div class="step d-none" id="step2">
                        <div class="mb-3">
                            <label for="simulationLength" class="form-label">Simulation Length</label>
                            <input type="number" class="form-control" id="simulationLength" name="simulationLength" required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary d-none" id="prev">Back</button>
                    <button type="button" class="btn btn-primary" id="next">Next</button>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="submitModel">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!-- JS -->
{% block scripts %}
<script src="{{ url_for('static', filename='javascript/addModel.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/modalNavigation.js')}}"></script>
{% endblock %}