{% extends 'base.html' %}

{% block title %}
Your Models
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Add Model  -->
    <div class="d-flex justify-content-left mb-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModelModal">
            Add Model
        </button>
    </div>

    <!-- Models Grid -->
    <div id="modelsFolder" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <!-- Model cards appears here -->
    </div>
</div>

<!-- Modal for adding model -->
<div class="modal fade" id="addModelModal" tabindex="-1" aria-labelledby="addModelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addModelForm">
                <div class="modal-header" style="background-color: #2B7A78">
                    <h5 class="modal-title text-white" id="addModelModalLabel">
                        Add New Model 
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <!-- Modal Body -->
                <div class="modal-body" style="background-color: #DEF2F1">
                    <!-- Step 1: name and Simulation Time -->
                    <div class="step" id="step1">
                        <div class="mb-3">
                            <label for="modelName" class="form-label">
                                Please type in the name of your Simulation
                            </label>
                            <input type="text" class="form-control" id="modelName" name="name" placeholder="Model Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="simulationTime" class="form-label">
                                Please provide your Simulation Time (in minutes)
                            </label>
                            <input type="number" step="0.01" class="form-control" id="simulationTime" name="simulationTime" placeholder="Simulation Time" required>
                        </div>
                    </div>

                    <!-- Step 2: Northbound -->
                    <div class="step d-none" id="step2">
                        <p>Please provide the Vehicles Per Hour heading Northbound</p>
                        <div class="mb-3">
                            <label for="northBoundNorth" class="form-label">
                                Vehicles Per Hour heading North
                            </label>
                            <input type="number" class="form-control" id="northBoundNorth" name="northBoundNorth" placeholder="Northbound North" required>
                        </div>
                        <div class="mb-3">
                            <label for="northBoundEast" class="form-label">
                                Vehicles Per Hour turning East
                            </label>
                            <input type="number" class="form-control" id="northBoundEast" name="northBoundEast" placeholder="Northbound East" required>
                        </div>
                        <div class="mb-3">
                            <label for="northBoundWest" class="form-label">
                                Vehicles Per Hour turning West
                            </label>
                            <input type="number" class="form-control" id="northBoundWest" name="northBoundWest" placeholder="Northbound West" required>
                        </div>
                    </div>

                    <!-- Step 3: Southbound -->
                    <div class="step d-none" id="step3">
                        <p>Please provide the Vehicles Per Hour heading Southbound</p>
                        <div class="mb-3">
                            <label for="southBoundSouth" class="form-label">
                                Vehicles Per Hour heading South
                            </label>
                            <input type="number" class="form-control" id="southBoundSouth" name="southBoundSouth" placeholder="Southbound South" required>
                        </div>
                        <div class="mb-3">
                            <label for="southBoundEast" class="form-label">
                                Vehicles Per Hour turning East
                            </label>
                            <input type="number" class="form-control" id="southBoundEast" name="southBoundEast" placeholder="Southbound East" required>
                        </div>
                        <div class="mb-3">
                            <label for="southBoundWest" class="form-label">
                                Vehicles Per Hour turning West
                            </label>
                            <input type="number" class="form-control" id="southBoundWest" name="southBoundWest" placeholder="Southbound West" required>
                        </div>
                    </div>

                    <!-- Step 4: Westbound -->
                    <div class="step d-none" id="step4">
                        <p>Please provide the Vehicles Per Hour heading Westbound</p>
                        <div class="mb-3">
                            <label for="westBoundWest" class="form-label">
                                Vehicles Per Hour heading West
                            </label>
                            <input type="number" class="form-control" id="westBoundWest" name="westBoundWest" placeholder="Westbound West" required>
                        </div>
                        <div class="mb-3">
                            <label for="westBoundNorth" class="form-label">
                                Vehicles Per Hour turning North
                            </label>
                            <input type="number" class="form-control" id="westBoundNorth" name="westBoundNorth" placeholder="Westbound North" required>
                        </div>
                        <div class="mb-3">
                            <label for="westBoundSouth" class="form-label">
                                Vehicles Per Hour turning South
                            </label>
                            <input type="number" class="form-control" id="westBoundSouth" name="westBoundSouth" placeholder="Westbound South" required>
                        </div>
                    </div>

                    <!-- Step 5: Eastbound -->
                    <div class="step d-none" id="step5">
                        <p>Please provide the Vehicles Per Hour heading Eastbound</p>
                        <div class="mb-3">
                            <label for="eastBoundEast" class="form-label">
                                Vehicles Per Hour heading East
                            </label>
                            <input type="number" class="form-control" id="eastBoundEast" name="eastBoundEast" placeholder="Eastbound East" required>
                        </div>
                        <div class="mb-3">
                            <label for="eastBoundNorth" class="form-label">
                                Vehicles Per Hour turning North
                            </label>
                            <input type="number" class="form-control" id="eastBoundNorth" name="eastBoundNorth" placeholder="Eastbound North" required>
                        </div>
                        <div class="mb-3">
                            <label for="eastBoundSouth" class="form-label">
                                Vehicles Per Hour turning South
                            </label>
                            <input type="number" class="form-control" id="eastBoundSouth" name="eastBoundSouth" placeholder="Eastbound South" required>
                        </div>
                    </div>

                    <!-- Step 6: Vehicle Info -->
                    <div class="step d-none" id="step6">
                        <p>Please provide information about the Vehicles</p>
                        <div class="mb-3">
                            <label for="vehicleTopSpeed" class="form-label">
                                Vehicle's Top Speed
                            </label>
                            <input type="number" class="form-control" id="vehicleTopSpeed" name="vehicleTopSpeed" placeholder="Vehicle Top Speed" required>
                        </div>
                        <div class="mb-3">
                            <label for="vehicleReactionTime" class="form-label">
                                Vehicle's Reaction Time
                            </label>
                            <input type="number" class="form-control" id="vehicleReactionTime" name="vehicleReactionTime" placeholder="Vehicle Reaction Time" required>
                        </div>
                        <div class="mb-3">
                            <label for="vehicleStationaryDistance" class="form-label">
                                Vehicle's Stationary Distance
                            </label>
                            <input type="number" class="form-control" id="vehicleStationaryDistance" name="vehicleStationaryDistance" placeholder="Vehicle Stationary Distance" required>
                        </div>
                    </div>

                    <!-- Step 7: Weighting -->
                    <div class="step d-none" id="step7">
                        <p>
                            The junctions will be ranked by Maximum Wait Time, Average Wait Time, and Maximum Queue Length.
                            Please provide the weighting for each factor (0 ~ 1).
                        </p>
                        <div class="mb-3">
                            <input type="number" step="0.01" class="form-control" id="maxWaitTimeWeight" name="maxWaitTimeWeight" placeholder="Maximum Wait Time Weight" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" step="0.01" class="form-control" id="averageWaitTimeWeight" name="averageWaitTimeWeight" placeholder="Average Wait Time Weight" required>
                        </div>
                        <div class="mb-3">
                            <input type="number" step="0.01" class="form-control" id="maxQueueLengthWeight" name="maxQueueLengthWeight" placeholder="Maximum Queue Length Weight" required>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer" style="background-color: #2B7A78">
                    <button type="button" class="btn btn-warning d-none" id="prev">Back</button>
                    <button type="button" class="btn btn-warning" id="next">Next</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success d-none" id="submitModel">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascript/addModel.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/modalModelNavigation.js') }}"></script>
{% endblock %}
